.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cont{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
  width: 90%;
    max-width: 500px;
    padding: 20px;
    margin: 163px auto 20px;
    box-shadow: 0 0 20px rgb(243 205 161 / 90%);
    background-color: #fff;
    border-radius: 8px;
}
.box {
  margin-top: 20px;
  font-size: 20px;
}
.box, .btn {
  width: 100%;
}
.box input {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: 1px solid rgba(128,128,128,.199);
  margin-top: 5px;
}
.box input, .btn {
  text-transform: capitalize;
}
.btn {
  border: none;
  outline: 0;
  padding: 20px;
  font-size: 24px;
  font-family: var(--font-hh2);
  border-radius: 8px;
  color: #d2691e;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color .3s;
  background-color: rgba(241,153,52,.9);
}